h1{
    color: indianred;
    
}
li:nth-child(2){
    color: khaki;
}
#bg-img{
    width: 50%;
    height: 200px;  
}
.content{
    display: flex;
    flex-direction: row;
    
}
.links{
    width: 100%;
    display: flex;
    flex-direction: row;
}