*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.507)), url(../Images/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    animation-name: fade-in;
    animation-duration: 2s;
}
ul{
    list-style-type: none;
    float: right;
}
ul li{
    display: inline-block;
    margin-top: 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white transparent;
    transition: 0.4s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;
}
img{
    float: left;
    width: 150px;
    height: auto;
    animation-name: fade-in;
    opacity: 0.6;
    animation-duration: 2s;
}
img:hover{
    background: whitesmoke;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    color: white;
    font-size: 4em;

}
.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color:white;
    text-decoration: none;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background: white;
    color: black;
}
@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}