body {

    /* background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-032_5.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=2603f6d565bb04d91c390503cc042f88"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100px 100px; */
    /* background-size: cover; */
    background: rgba(224, 23, 90, 0.308);
    font-size: 1.25em;
    text-transform: capitalize;
    /* font-family:  "times new roman",sans-serif; If in  any browser times new roman is not avialable then sans serif will be used */
    /* font-weight: 500; */
    font-family: 'Muli', sans-serif;
}
h1{
    color: skyblue;
    text-decoration: underline;
    text-align: justify;
    font-family: 'Source Sans Pro'
}
.title {
    color: orange;
    text-align: center;
    
}
table,th,td{
    background: linear-gradient(30deg, rgba(255, 166, 0, 0.4), white);
    border: 3px solid black ;
    /* display: none; */
    /* display: inline-block; */
}
#lang{
    color: rgba(100, 185, 19,0.6);
}
ul{
    font-size: 43;
}
/* li:only-child{                  when list have only one child 
    color: slateblue;
} */ 
/* li:first-child{ */
    /* color: red;                  it'll be applied on every first child of the list */
/* } */
li:nth-child(3) {
    color: royalblue;
}
/* #google-link:link{
    color: orchid;
}
#google-link:visited{
    color: aqua;
} */
h1 + p {
    color: crimson;    /* When  these both are following each other then the styling will det apply on p*/
}  

textarea ~ button{
    color: darkmagenta;  /*when the these two tage are in this sequence and are under the same parents then styling will get applies 
                            on button*/
}
ol > li {
    color: grey;
}

ul li {
    color: magenta;    
}

img[src^="../Html/"]{
    border: 20px solid rgb(236, 124, 59);    /* when we use src^=path then it will look for img tag with starting with this path and 
                                                when we use src$= then it will check for img tag ends with that path*/
    
}   

image{
    float: right;
}

#baby_lol{
    float: right;
}

h1[class|=new-class]{
    background: grey;
}
#service-pics {
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v349-binn-13-halftonebackground_2.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=06be67f4404d06dc8cebc90eba385746");
}
#color-testing{
    height: 300px;
    width: 700px;
    /* background: linear-gradient(120deg, rgba(135, 207, 235, 0.9),rgba(144, 238, 144, 0.8), rgba(255, 166, 0, 0.4), rgba(255, 255, 0, 0.5)); */
    /* background: linear-gradient(30deg, rgba(255, 166, 0, 0.4), white); */
    background: radial-gradient(circle,rgba(135, 207, 235, 0.9) 10%,rgba(144, 238, 144, 0.8), rgba(255, 166, 0, 0.4), rgba(255, 255, 0, 0.5));
    background-size: cover;
}
.container{
    background-color: rgb(250, 250, 250);
    margin: 10px;
    height: 300px;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
    align-items: center;
    
}
.container-item{
    background-color: rgb(75, 202, 37);
    color: white;
    font-size: 23px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;
}
.grid-container{
    background-color: rgb(250, 250, 250);
    margin: 10px;
    height: 450px;
    display: grid;
    /* grid-template-columns: 10px 50px 70px;
    grid-template-rows: 80x 345px 23px; */
    grid-template-columns: auto auto auto ;
    /* grid-column-gap: 150px; */
    grid-template-rows: auto auto auto ;
    /* grid-column-gap: 150px; */
    /* grid-row-gap: 200px;  */
    /* grid-gap: 200px 150px; */
    /* grid-row-gap: 54px; */
    /* justify-content: end; */
    /* justify-content: space-around;
    align-content: space-between; */
}
.grid-item{
    font-size: 23px;
    text-align: center;
    width: 70px;
    line-height: 50px;
    margin: 10px;

}
.submit-button{
    margin: 20px 10px;
    padding: 10px 20px;
    border: solid white;
    text-decoration: bold;
    font-family: "lato",sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    background: rgb(0, 160, 235);
    transform: translate(20px, 20px);
    transform: rotate(23deg); 
    transform: skewX(-45deg);
    transition: background 100ms ease-in;
    /* transition: all; */
    -webkit-transition: all 50ms ease;
    -moz-transition: all 50ms ease;
    -o-transition: all 40ms ease;
}
.submit-button:hover{
    background: rgb(113, 200, 235);
    /* padding: 20px 30px; */
    /* transform: translate(20px, 20px); */
    transform: scale(2);
    /* transform: rotate(23deg); */
    
}

#testing{
    animation-name: red-to-black;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: -2s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
}
@keyframes red-to-black{
    0%{
        background: red;
        transform: translate(0px,0px);
    }
    50%{
        background: yellow;
        transform: translate(10px,10px);
    }
    70%{
        background: blue;
        transform: translate(30px,30px);
    }
    100%{
        background: black;
        transform: translate(20px,20px);
    }
}