*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header{
    height: 20vh;
    width: 95%;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    margin: 30px 30px;
    display: flex;
    flex-wrap: wrap;
}


.logo{
    /* background-color: lawngreen; */
    height: 100%;
    flex: 0.5;  
    filter: drop-shadow(10px 5px 2px rgb(250, 142, 2));  
    
}
.logo:hover{
    cursor: pointer;
    
}

.logo > img{
    height: 150px;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 20px;
}
.nav-links{
    /* background-color: burlywood; */
    flex: 2;
    flex-shrink: 3;
}
.nav-links > ul{
    display: flex;
    list-style-type: none;
    margin: 60px 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
li > a{
    text-decoration: none;
    color: orange ;
    font-weight: 800;
    font-size: 20px;
    padding: 10px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: azure;
    border-radius: 10%;
    flex-shrink: 3;
    
}
li > a:hover{
    box-shadow: 0 0 10px whitesmoke, 0 0 40px whitesmoke, 0 0 80px whitesmoke;

} 

.heading{
    /* background-color: pink; */
    flex: 1;
    text-align: center;
    margin-left: 45px;
}
.main-heading{
    font-size: 55px;
    font-weight: 800;
    font-family: 'Merienda One', cursive;
    margin: 30px;
    text-decoration: underline;
    background: -webkit-linear-gradient(rgba(230, 255, 4, 0.74),rgba(255, 0, 221, 0.733));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 40vh;
    margin: 10px 30px;
    display: flex;
    flex-wrap: wrap;
}

.label{
    /* background: beige; */
    height: 100%;
    flex: 2;
    text-align: center;
    margin: 50px;
}    
.intro{
    padding: 10px;
    font-size: 60px; 
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
    color: rgb(0, 109, 252);
    filter: drop-shadow(2px 2px 4px rgb(9, 150, 245));
}


.label> p{
    margin: 40px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 4, 79);
    filter: drop-shadow(2px 2px 4px rgb(245, 9, 9)); 
}
.my-image-section{
    /* background: chartreuse; */
    height: 80%;
    flex: 1;
}
.my-image{
    width: 70%;
    height: 90%;
    filter: drop-shadow(3px 20px 20px rgb(255, 129, 45));

}
#about-me{
    margin: 30px 20px 50px;
    display: flex;
    flex-wrap: wrap;

}

.about-me-image > img{
    /* background: chocolate; */
    height: 100%;

}
.about-me-text{
    /* background: cornflowerblue; */
    flex: 1;
    margin: 20px 90px;
}
.heading-about-me{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;


}
.content-about-me{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#contact-me{
    /* background-color: cornflowerblue; */
    margin: 30px 20px 50px;
    display: flex;
    flex-wrap: nowrap;
}
.contact-me-image{
    /* background-color: crimson; */
    width: 15%;
}
.contact-me-image>img{
    /* background-color: hotpink; */
    height: 100%;
    width: 100%;
}
.contact-me-text{
    margin: 20px;

}
.contact-me-heading{
    /* background-color: darkblue; */
    margin-left: 30px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;  
}
.contact-me-text> p{
    /* background-color: hotpink; */
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500; 

}
.icons{
    /* background-color: darkgrey; */
    margin-left: 20px;
    margin-top: 25px;
}
.icons > a{
    filter: drop-shadow(10px 5px 10px rgb(0, 255, 157));
    /* box-shadow: 0 0 10px greenyellow, 0 0 40px greenyellow, 0 0 80px greenyellow; */
}
.icons > a:hover{
    filter: drop-shadow(10px 5px 10px rgb(9, 15, 13));
}